<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="JourneyPlannerServiceMetadataBehaviour"
        name="JourneyPlannerService.JourneyPlannerService">
        <endpoint address="ws" binding="wsHttpBinding" contract="JourneyPlannerService.IJourneyPlannerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- IMetadataExchange is the contract that exposes the metadata -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/JourneyPlannerService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <!-- this behaviour allows the metadata endpoint to be browsed to and displays the wsdl in the browser -->
        <behavior name="JourneyPlannerServiceMetadataBehaviour">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8732/JourneyPlannerService/mex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
