<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NoSecurityPlusReliableMessaging">
          <reliableSession enabled="true" />
          <security mode="None">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Metadata" name="WCF_firstService.EmployeeService">
        <clear />
        <endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="NoSecurityPlusReliableMessaging"
          name="firstService_wsHttpBinding" contract="WCF_firstService.IEmployeeService"
          listenUriMode="Explicit">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="firstService_mex"
          contract="IMetadataExchange" listenUriMode="Explicit">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="basic" binding="basicHttpBinding" name="firstService_basicHttpBinding"
          contract="WCF_firstService.IEmployeeService" listenUriMode="Explicit">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost/EmployeeService" binding="netTcpBinding"
          bindingConfiguration="" name="firstService_TCP" contract="WCF_firstService.IEmployeeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- exposes the metadata for the tcp endpoint -->
        <endpoint address="net.tcp://localhost:8082/EmployeeService/mex" 
                  binding="netTcpBinding" 
                  contract="IMetadataExchange"  />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/EmployeeService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <!-- this behaviour allowed me to expose the meta data as a wsdl i.e. available as a Get in the browser -->
        <behavior name="Metadata">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/EmployeeService/mex" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
